@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Ubuntu+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu-Mono';
  font-size: 14px;
  color: #1C1C1C;
}