 @import url(https://fonts.bunny.net/css?family=karla:400,400i,700,700i|merriweather:400,400i,700,700i);

 /* variables */
 :root{
    --body: #1a1a1a;
    --bodyFont: 'Karla', sans-serif;
    --fontSize: 2rem;
    --background: #ffeeee;
    --headlineFont: 'Merriweather', serif;
}


body{
    margin: 0;
    padding: 0;
    font-family: var(--bodyFont);
    color: var(--body);
    background:var(--background);
    font-size:var(--fontSize);
}

#title-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

#title-card main-card{
    font-size:calc(var(--fontSize) * 1.5);
    font-family:var(--headlineFont);
    display:flex;
    align-items:flex-end;
    justify-content:center;
    width:90%;
    height:100vh;
    flex-wrap:wrap;
}

main-card .text-content{
    padding:20px;
    margin-bottom:40px;
}

#bio-detail{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:90%;
    background:blue;
    padding:20px;
}